<div class="container pl-4">
<h6 style="background-color:#EEEEEE;color:dark;display:inline" class="offset-1">ジャンル一覧・追加</h6>
<%= form_with model: @genre,url: admin_genres_path,local:true do |f| %>
<table class='table'>
  <thead>
      <tr>
        <th><%= f.label :ジャンル名 %></th>
        <th><%= f.text_field :name, class: 'form-control genre_name' %></th>
        <th><%= f.submit "新規登録" ,class: 'btn btn-success' %></th>
      </tr>
  </thead>
</table>
<% end %>
<h4>ジャンル名</h4>
<table class='table'>
    <tbody>
      <% @genres.each do |genre| %>
    <tr>
      <td><%=  genre.name %></td>
      <td><%= link_to "編集する", edit_admin_genre_path(genre),class: 'btn btn-success' %></td>
    </tr>
    <% end %>
    </tbody>
</table>
</div>