<div></div>
<div class="container">
  <div class="row">
    <div class="col">
      <h4 style="background-color:grey;color:white;width:150px">新規会員登録</h4>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :名前 %>
          <spanp>（姓）</span><%= f.text_field :last_name,placeholder:"令和",autofocus: true %>
          <spanp>（名）</span><%= f.text_field :first_name,placeholder:"道子" %>
        </div>

        <div class="form-group">
          <%= f.label :フリガナ %>
          <spanp>（セイ）</span><%= f.text_field :last_name_kana,placeholder:"レイワ" %>
          <spanp>（メイ）</span><%= f.text_field :first_name_kana,placeholder:"ミチコ" %>
        </div>

        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email,placeholder:"sample@example.com" %>
        </div>

        <div class="form-group">
          <%= f.label :郵便番号（ハイフンなし） %>
          <%= f.text_field :postal_code,placeholder:"0000000" %>
        </div>

        <div class="form-group">
          <%= f.label :住所 %>
          <%= f.text_field :address,placeholder:"東京都渋谷区代々木神園町0-0" %>
        </div>

        <div class="form-group">
          <%= f.label :電話番号 %>
          <%= f.text_field :telephone_number,placeholder:"00000000000" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
          <%= f.password_field :password %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード（確認用） %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="form-group">
          <%= f.submit "新規登録",class: 'btn btn-sm btn-success' %>
        </div>
      <% end %>

      <h4 style="background-color:grey;color:white;width:200px">既に登録済みの方</h4>

      <%= link_to "こちら", new_customer_session_path %><span>からログインしてください。</span>
    </div>
  </div>
</div>

