<div class="container">
  <div class="row">
    <div class="col">
        <h4 style="background-color:#EEEEEE;color:dark;display:inline" class="offset-1">ログイン</h4><br>
        <br>
        <p style="background-color:#EEEEEE;color:dark;display:inline" class="offset-1">会員の方はこちらからログイン</p>
        <br>
        <br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field col-7 mx-auto row">
            <div class="col-5">
              <%= f.label :メールアドレス %>
            </div>
            <%= f.email_field :email, autofocus: true, :value => "08033431635a@gmail.com", autocomplete: "email" %>
          </div>
          <br>
          <div class="field col-7 mx-auto row">
            <div class="col-5">
              <%= f.label :パスワード %>
            </div>
            <%= f.password_field :password, :value => "koizumi", autocomplete: "current-password" %>
          </div>
          <br>
          <div class="actions col-2 mx-auto">
            <%= f.submit "ログイン",class: 'btn btn-sm btn-primary' %>
          </div>
        <% end %>
        <p></p>
        <p style="background-color:#EEEEEE;color:dark;display:inline" class="offset-1">会員登録がお済みでない方</p>
        <br>
        <br>
          <%= link_to "こちら", new_customer_registration_path %><span>から新規登録を行ってください。</span>
    </div>
  </div>
</div>

